@import "../base/_normalize.scss";
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.ribbon {
  font-family: $brand-font-family;
  overflow: hidden;
  font-size: 1rem;
  width: 240px;
  position: absolute;
  text-align: center;
  line-height: 2.5;
  letter-spacing: 1px;
  top: 40px;
  left: -60px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: #e43;
  color: white;
}

.home {
  background: $black;
  .panel {
    color: $background-color;
  }
  .sitefooter,
  .panel {
    background: $black;
  }
}

.portfolio {
  background: $background-color;

  &__listitem {
    padding-bottom: $main-padding * 2;
    margin-bottom: 0;
    img {
      margin-bottom: $main-padding;
      filter: gray;
      -webkit-filter: grayscale(1);
      @include transition(all, 0.8s, ease-in-out);
      &:hover {
        -webkit-filter: grayscale(100%);
        filter: none;
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
      }
    }

    p {
      @include constraint();
      &:last-child:after {
        display: block;
        content: "===";
      }
    }
  }
  &__title {
    font-family: $heading-font-family;
    font-size: 1.125rem;
    @include constraint();
  }
}

/* ==== MEDIA QUERIES ==== */

@media (max-width: 320px) {
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
  .portfolio {
    &__list {
      display: flex;
      flex-flow: row wrap;
    }
    &__listitem {
      width: 50%;
    }
  }
}

@media (min-width: 801px) {
  .portfolio__title {
    font-size: 1.3125rem;
  }
}

@media (min-width: 1025px) {
  .portfolio__listitem {
    width: 33.333334%;
  }
  .portfolio__title {
    font-size: 1.3125rem;
  }
}

@media (min-width: 1440px) {
  .portfolio__listitem {
    width: 25%;
  }
  .portfolio__title {
    font-size: 1.5rem;
  }
}
