@import "../base/_normalize.scss";
@import "../base/_variables.scss";
@import "../base/_mixins.scss";

.siteheader {
  background-color: $background-color;
  text-align: center;
  padding-top: $main-padding * 1.5;
  padding-bottom: $main-padding * 1.5;
}
.navmain {
  display: flex;
  &__nav {
    color: lighten($primary-color, 20%);
    flex: 1;
    display: flex;
    font-size: 2rem;
  }
  &__nav.active {
    color: $text-color;
  }
  .nav--left {
    justify-content: flex-start;
    align-items: center;
    order: 1;
  }
  .nav--right {
    justify-content: flex-end;
    align-items: center;
    order: 3;
  }

  &__wrapper {
    display: flex;
    flex: 7;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  &__title {
    font-family: $brand-font-family;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    i {
      font-style: normal;
    }
  }
  &__name {
    color: $text-color;
  }

  .name--first {
    order: 1;
  }
  .descriptor--code {
    order: 2;
    padding-left: 2px;
    &:before {
      position: relative;
      top: -10%;
      content: ":";
    }
  }
  .descriptor--design {
    order: 3;
    padding-right: 2px;
    &:after {
      position: relative;
      top: -10%;
      content: ":";
    }
  }

  .name--last {
    order: 4;
  }
}

// HOME
.home .navmain {
  &__nav {
    color: lighten($primary-color, 20%);
  }
  &__nav.active {
    color: lighten($primary-color, 50%);
  }
  &__name {
    color: $background-color;
  }
  &__descriptor {
    color: $primary-color;
  }
}

// PAGES

.code .navmain,
.design .navmain {
  &__nav {
    color: $primary-color;
  }
  &__nav.active {
    color: $text-color;
  }
  &__name {
    color: $text-color;
  }
  &__descriptor {
    color: lighten($primary-color, 20%);
  }
}

// ITEMS
.portfolio-item .navmain {
  &__name {
    color: $background-color;
  }
}

.home .siteheader {
  background-color: $black;
}
.itemup {
  .siteheader {
    background-color: $itemup;
  }
  .navmain {
    &__nav,
    &__descriptor {
      color: darken($itemup, 20%);
    }
  }
}
.itemcasket {
  .siteheader {
    background-color: $itemcasket;
  }
  .navmain {
    &__nav,
    &__descriptor {
      color: darken($itemcasket, 20%);
    }
  }
}
.itemnpl {
  .siteheader {
    background-color: $itemnpl;
  }
  .navmain {
    &__nav,
    &__descriptor {
      color: darken($itemnpl, 20%);
    }
  }
}
.itemaldingbourne {
  .siteheader {
    background-color: $itemaldingbourne;
  }
  .navmain {
    &__nav,
    &__descriptor {
      color: darken($itemaldingbourne, 20%);
    }
  }
}
.itemfarmer {
  .siteheader {
    background-color: $itemfarmer;
  }
  .navmain {
    &__nav,
    &__descriptor {
      color: darken($itemfarmer, 20%);
    }
  }
}

/* ==== MEDIA QUERIES ==== */

@media (max-width: 320px) {
  .navmain__title {
    font-size: 1.6rem;
  }
}

@media (min-width: 480px) {
  .navmain__wrapper {
    flex: 4;
  }
}

@media (min-width: 600px) {
  .navmain {
    margin-left: 10%;
    margin-right: 10%;
  }
  .navmain__wrapper {
    flex: 3;
    padding: 0 2vw;
  }
}

@media (min-width: 801px) {
  .navmain {
    margin-left: 15%;
    margin-right: 15%;
  }
  .siteheader {
    padding-top: $main-padding * 2;
    padding-bottom: $main-padding * 2;
  }
  .navmain__wrapper {
    flex: 2.5;
  }
}

@media (min-width: 1025px) {
  .navmain {
    margin-left: 20%;
    margin-right: 20%;
  }
  .navmain__wrapper {
    flex: 2;
  }
}

@media (min-width: 1366px) {
  .navmain {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media (min-width: 1920px) {
  .navmain__wrapper {
    flex: 1.2;
  }
}
