@import "../base/_normalize.scss";
@import "../base/_variables.scss";
@import "../base/_mixins.scss";
/* ==== ZOOM IMAGE ==== */

.project__image {
  text-align: center;
}
.image-frame {
  margin: 0 auto;
}
img {
  margin: auto;
  max-height: calc(100vh);
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: lighten($primary-color, 50%);
  transform: translateZ(0);
}
