// Variables

/* @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 200ms, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin constraint {
  padding-left: $main-padding * 2;
  padding-right: $main-padding * 2;
  margin: 0 auto;
}

@mixin reverseconstraint {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

@mixin margin-bottom($number) {
  margin-bottom: #{$number * $leading + "px"};
  margin-bottom: #{$number * $line-height + "rem"};
}
