/* ==== VARIABLES ==== */

// Typography
$body-font-family: "arno-pro", serif;
$heading-font-family: "arno-pro-display", serif;
$brand-font-family: "futura-pt", sans-serif;

// Color
$text-color: #303030;
$background-color: #f8f8f8;
$primary-color: #606060;
$secondary-color: #0056b3;
$black: #000;

$itemup: #76919f;
$itemcasket: #575cc2;
$itemnpl: #a62c35;
$itempoem: #a62c35;
$itemaldingbourne: #2cb4b4;
$itemfarmer: #7c8361;
$itemlucion: #0165bd;
$itemcroft: #e94e1b;
$itemtrip: #3e616f;
$itemcorpse: #0056b3;
$itemkenric: #71339c;

// Padding
$main-padding: 1rem;
