// Variables

// Typography
$body-font-family: "arno-pro", serif;
$heading-font-family: "arno-pro-display", serif;

// Color
$text-color: #303030;
$background-color: #f8f8f8;
$primary-color: #606060;
$secondary-color: #0056b3;
$black: #000;

// Padding
$main-padding: 1rem;
