@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";

/* ==== BASE ==== */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: $black;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $body-font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 112.5%;
  margin: 0;
  padding: 0;
  background: $background-color;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.sitefooter {
  padding: $main-padding * 2 $main-padding;
  text-align: center;
  background-color: $background-color;
  color: lighten($text-color, 30%);
  grid-row-start: 2;
  grid-row-end: 3;
}
.itemup .sitefooter {
  color: $itemup;
}
.itemcasket .sitefooter {
  color: $itemcasket;
}
.itemaldingbourne .sitefooter {
  color: $itemaldingbourne;
}
.itemfarmer .sitefooter {
  color: $itemfarmer;
}
.itemnpl .sitefooter {
  color: $itemnpl;
}

.constraint {
  padding-left: $main-padding * 2;
  padding-right: $main-padding * 2;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
figure {
  margin: 0;
}

/* ==== TYPOGRAPHY ==== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin: 0 0 $main-padding;
}
a,
a:hover {
  color: $primary-color;
  text-decoration: none;
  @include transition(color);
}

/* ==== HELPER CLASSES ==== */

/* ---- Nav menus ---- */
.menu--settings {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
/* ---- Visibility ---- */
.show--screenreaders,
.show--focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/* ==== MEDIA QUERIES ==== */

@media (max-width: 320px) {
}

@media (min-width: 480px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  h2 {
    font-size: 1.563rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .constraint {
    max-width: 995px;
  }
  h2 {
    font-size: 1.953rem;
  }
}

@media (min-width: 1366px) {
  /* hi-res laptops and desktops */

  body {
    font-size: 125%;
  }
  .constraint {
    max-width: 1200px;
  }
}

@media (min-width: 1920px) {
  h2 {
    font-size: 2.441rem;
  }
}
