@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";

/* ==== PROJECTS ==== */

.project {
  margin-top: $main-padding;
  margin-bottom: $main-padding;

  a {
    border-bottom: 1px solid $primary-color;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
    &:hover,
    &:focus {
      border-color: lighten($primary-color, 50%);
      background-color: lighten($primary-color, 50%);
    }
  }
  a::after {
    transition: color 0.3s;
  }

  &__header {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  }
  &__title {
    width: 100%;
  }
  &__refs {
    width: 100%;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    margin-top: 0;

    dt {
      width: 30%;
      padding: 5px 0;
    }
    dd {
      margin: 0;
      width: 70%;
      padding: 5px 0;
      position: relative;
    }
  }

  &__url a {
    border-bottom: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &__url a::after {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f138";
    margin-left: 5px;
  }
  &__url a:hover::after,
  &__url a:focus::after {
    color: $text-color !important;
  }

  &__section1 {
    background-color: lighten($primary-color, 50%);
    padding-top: $main-padding;
    padding-bottom: $main-padding;
    margin: $main-padding * 2.5 0;
  }
  &__section1,
  &__section2 {
    .image-frame {
      margin-top: $main-padding;
      margin-bottom: $main-padding;
    }
  }

  &__brief a {
    &:hover,
    &:focus {
      border-color: lighten($primary-color, 40%);
      background-color: lighten($primary-color, 40%);
    }
  }
  h3 {
    font-family: $brand-font-family;
    text-transform: uppercase;
    text-align: left;
    color: lighten($primary-color, 30%);
    margin-bottom: $main-padding * 0.5;
    &:before {
      display: block;
      content: "===";
      color: lighten($primary-color, 30%);
    }

    &.project__subhead-brief,
    &.project__subhead-design,
    &.project__subhead-code {
      color: $text-color;
      padding: 0;
      margin-top: $main-padding * 2;
      margin-bottom: $main-padding;
      display: block;
      &:before {
        display: none;
      }
    }
  }
}

// project-specific colours

.itemup {
  dt,
  .project__url a::after {
    color: $itemup;
  }
}

.itemcasket {
  dt,
  .project__url a::after {
    color: $itemcasket;
  }
}

.itemnpl {
  dt,
  .project__url a::after {
    color: $itemnpl;
  }
}

.itemaldingbourne {
  dt,
  .project__url a::after {
    color: $itemaldingbourne;
  }
}

.itemfarmer {
  dt,
  .project__url a::after {
    color: $itemfarmer;
  }
}

.itempoem {
  dt,
  .project__url a::after {
    color: $itempoem;
  }
}

.itemlucion {
  dt,
  .project__url a::after {
    color: $itemlucion;
  }
}

.itemcroft {
  dt,
  .project__url a::after {
    color: $itemcroft;
  }
}

.itemtrip {
  dt,
  .project__url a::after {
    color: $itemtrip;
  }
}
.itemcorpse {
  dt,
  .project__url a::after {
    color: $itemcorpse;
  }
}

/* ==== MEDIA QUERIES ==== */

@media (max-width: 320px) {
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
  .project {
    margin-bottom: $main-padding * 2;
    &__header,
    &__brief,
    &__section2 {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

@media (min-width: 801px) {
  .project {
    &__header,
    &__brief,
    &__section2 {
      margin-left: auto;
      margin-right: auto;
    }
    &__section1 {
      padding-top: $main-padding * 1.5;
      padding-bottom: $main-padding * 2;
      // margin: $main-padding * 2 0;
    }

    &__header {
      text-align: center;
    }
    &__refs {
      display: grid;
      text-align: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr;

      dt {
        width: auto;
        grid-row-start: 1;
        grid-row-end: 1;
      }
      dd {
        width: auto;
        grid-row-start: 2;
        grid-row-end: 2;
        &:after {
          display: block;
          content: "===";
          color: $primary-color;
        }
      }
      .a,
      .a2 {
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .b,
      .b2 {
        grid-column-start: 2;
        grid-column-end: 2;
      }
      .c,
      .c2 {
        grid-column-start: 3;
        grid-column-end: 3;
      }
    }
    &__url a {
      position: static;
      width: auto;
      height: auto;
    }

    &__brief,
    &__section2 {
      display: flex;
      justify-content: space-between;
    }
    &__content {
      width: 70%;
    }
    &__image {
      width: 25%;
    }
    &__code,
    &__design {
      width: 46%;
    }
  }
}

@media (min-width: 1025px) {
  .project {
    margin-top: $main-padding * 2;
  }
}

@media (min-width: 1366px) {
}

@media (min-width: 1920px) {
  /* bigguns */
}
